*{
	margin:0;
	padding:0;
}

p{line-height:26px;}

body{
	color:#eee;
	background-color:#141414;
	font:15px Calibri,Arial,sans-serif;
}

h1{
	margin-bottom: 20px;
	width:330px;
	height:36px;
}

h2{
	margin-bottom: 10px;	
}

button{
	margin:20px auto;
	width:200px;
	height:30px;
}

textarea{
	margin:20px auto;
	width:400px;
	height:40px;
}

textarea[name=formText]{
	height: 120px;
}

#footer h1{
	font-size:20px;
	font-weight:normal;
	left:50%;
	margin-left:-400px;
	padding:25px 0;
	position:absolute;
	width:400px;
}

.page{
	width:430px;
	margin: auto;
}

.userNote{
	width: 400px;
	margin-bottom: 20px;	
	border-top:1px solid;
}

.readNote{
	padding-top: 20px;
}

.clear{
	clear:both;
}

/* Can be addded later

.postSettings{
	margin-bottom: 20px;
}
*/