*{
	margin:0;
	padding:0;
}

p {
  line-height:26px;
}

body{
	color:#262626;
	background-color:#FFFFFF;
	font:15px Calibri,Arial,sans-serif;
}

h1{
	margin-bottom: 20px;
	width:400px;
	height:36px;
	color: #A3BF3B;
	font-size: 40px;
}

h2{
	margin-bottom: 10px;
	color: #003259;
}

button{
	margin:20px auto;
	width:200px;
	height:30px;
}

textarea{
	margin:20px auto;
	width:400px;
	height:40px;
}

#note-text-field {
	height: 120px;
}

.userNote{
	width: 400px;
	margin-bottom: 20px;	
	border-top:1px dotted;
	padding-top: 20px;
}

.read-note {
	padding-top: 20px;
}

label,
.label {
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin-top: .5em;
}

/* Can be added later

.postSettings{
	margin-bottom: 20px;
}
*/


.placeholder
{
	color: #aaa;
}
